html {
  font-family: "Kulim Park", sans-serif;
}

header {
  background-color: #ffd658;
}

.nav a {
  text-decoration: none;
  color: #000;
}

nav {
  background-color: #ffd59a;
}

body {
  background-color: #fffaf3;
}

.leader {
  background-color: #ffb89a;
  white-space: nowrap;
  border-style: dotted none none;
  border-width: thick;
}

.leader p {
  white-space: normal;
}

.leader h2 {
  white-space: normal;
}

.flex {
  background-color: #ffc719;
  border-style: dotted none none;
  border-width: thick;
  white-space: nowrap;
}

.flex p {
  white-space: normal;
}

.flex h2 {
  white-space: normal;
}

.people {
  background-color: #ffb858;
  border-style: dotted none none;
  border-width: thick;
  white-space: nowrap;
}

.people p {
  white-space: normal;
}

.people h2 {
  white-space: normal;
}

.diamond p {
  white-space: normal;
}

footer {
  bottom: 0;
  background-color: #ff5d19;
  border-style: dotted none none;
  border-width: thick;
}

button a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-family: Calistoga, cursive;
}

h1 a {
  text-decoration: none;
}

h1 a:visited {
  color: #000;
}

h1 a:hover {
  color: #ff5d19;
}

h2 {
  font-family: Calistoga, cursive;
}

.current {
  background-color: #ff9e19;
}

nav ol li:hover {
  background-color: #ff9e19;
}

nav ol li a:hover {
  background-color: #ff9e19;
}

.headline {
  margin: 0;
}

.btn {
  background-color: #6159b2;
  border-color: #ff5d19;
  border-style: none;
}

.owl {
  background-color: #ffd658;
}

.beaver {
  background-color: #ffb89a;
}

.whale {
  background-color: #ffd658;
}

.plan-table {
  background-color: #ffe69a;
}
